<div class="card">
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quasi, molestias fugiat necessitatibus eveniet officiis ullam ea corrupti, nihil porro beatae? Mollitia labore odio quo dolore recusandae inventore iusto temporibus!</p>
  </div>
</div>