<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs & MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sunt nesciunt ullam, odit at consequuntur, perferendis tempora hic quis minima natus iste libero. Labore qui, exercitationem eaque repellendus necessitatibus ducimus!</p>
</div>