
<div class="row">
  {{#each notes}}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between align-items-center">
            {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
          </h4>
          <p>
            {{description}}
          </p>
          <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger btn-block" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  
  
  {{else}}
    <div class="card mx-auto">
      <div class="card-body">
        <h2>Hello, {{user.name}}</h2>
        <p class="lead">There are not Notes yet.</p>
        <a href="/notes/add" class="btn btn-success btn-block">Add a note</a>
      </div>
    </div>
  {{/each}}
</div>