<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit Note</h3>
    </div>
    <div class="card-body">
      <form action="/notes/edit/{{note._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <input type="text" name="title" id="" class="form-control" placeholder="Title" value="{{note.title}}">
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control" cols="30" rows="10" placeholder="Description">{{note.description}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>