{{#each errors }}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-header">
      new form 
    </div>

    <div class="card-body">
      <form action="/notes/add" method="POST">

        <div class="form-group">
          <input class="form-control" type="text" name="title" placeholder="Title" autofocus {{#if title}} value={{title}} {{/if}} >
        </div>

        <div class="form-group">
          <textarea class="form-control" name="description"  placeholder="Description">{{#if description}}{{description}}{{/if}}</textarea>
        </div>
        
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
  