<div class="row">
  <div class="col-md-4 col-xs-12 mx-auto">
    <div class="card">
      <div class="card-header">
        Account Login
      </div>
      <img src="/img/logo.png" alt="logo" class="logo roundes-circle mx-auto d-block m-2">
      <div class="card-body">
        <form action="/users/signin" method="POST">

          <div class="form-group">
            <input type="text" name="email" placeholder="Email" class="form-control" value="{{email}}" autofocus>
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              SignIn
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>