<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Account Register
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">

          <div class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control" value="{{name}}">
          </div>

          <div class="form-group">
            <input type="text" name="email" placeholder="Email" class="form-control" value="{{email}}">
          </div>

          <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
          </div>

          <div class="form-group">
            <input type="password" name="confirm_password" placeholder="Confirm password" class="form-control">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              SignUp
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>